:root {
    /* font size 10pt to rem conversion  */
    /* font-size: 83.33%; */
    font-size: 62.5%;
    --black: #000000;
    --white: #FFFFFF; 
    --red: #EC1C24;
    --deep-black: #1E1E1E;
    --light-gray: #FAFAFA;
    --gray: #989898;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.1rem;
}
a {
    color: var(--black);
    text-decoration: none;
}
a:hover {
    color: var(--black);
}
img {
    width: 100%;
}
/* All Common CSS  */
.title {
    font-size: 2.5rem;
}
.subtitle {
    font-size: 2rem;
}
.heading {
    font-size: 5rem;
}
.sub-heading {
    font-size: 3rem;
}
.body2 {
    font-size: 1.2rem;
}
.text-bold {
    font-weight: bold;
}
.text-red {
    color: var(--red);
}
.text-gray {
    color: var(--gray);
}
.bg_black {
    background-color: var(--black);
}
.bg_deep-black {
    background-color: var(--deep-black);
}
.bg_white {
    background-color: var(--black);
}
.bg_light-gray {
    background-color: var(--light-gray);
}
.icon {
    color: var(--white);
}
.icon_circle{
    border-radius: 50%;
    background-color: var(--black);
}
.btn-white, .btn-white:hover{
    color: var(--black) !important;
    background-color: var(--white);
    padding: 1.4rem 1rem; 
    border-radius: .25rem;
    font-size: 1.7rem !important;
    width: 100%;
}
.btn-black, .btn-black:hover{
    color: var(--light-gray);
    background-color: var(--black);
    padding: 1.2rem 1rem; 
    border-radius: .25rem;
    font-size: 1.7rem;
    width: 100%;
}
.right-arrow{
    width: .6rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.5rem;
}
/* header section  */
.social-icon {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon:hover  {
    background-color: var(--red);
    transition: 0.4s;
}

/* hero section  */
.carousel-caption {
    transform: translateY(-50%);
    bottom: 0;
    top: 60%;
}
.carousel-indicators {
    bottom: -4rem;
}
.circle-indicators {
    border-radius: 50%;
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: #dad5d5 !important;
}
.carousel-indicators > .active {
    background-color: var(--red) !important;
}
.down-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    #hero .sub-heading {
        font-size: 1.5rem;
    }
}

/* brand section  */
.brand__logo-wrapper {
    background-color: var(--light-gray);
    padding-top: 15.8rem;
    padding-bottom: 15.8rem;
}
.brand__logo-wrapper img {
    width: auto;
}
.brand__col-padding {
    padding: 6.7rem 8.6rem;
}

@media only screen and (max-width: 768px) {
    .brand__logo-wrapper .border-sm-end-none {
        border-right: 0px solid #dee2e6!important;
    }
}
@media only screen and (max-width: 600px) {
    .brand__logo-wrapper {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .brand__logo-wrapper img {
        width: auto;
    }
    .brand__logo-wrapper .border-xs-bottom {
        border-bottom: 1px solid #dee2e6!important;
    }
    .brand__logo-wrapper .border-xs-end {
        border-right: 1px solid #dee2e6!important;
    }
    .brand__logo-wrapper .border-xs-start {
        border-left: 1px solid #dee2e6!important;
    }
    #brand .title {
        font-size: 2rem;
    }
    .brand__col-padding {
        padding: 3.5rem 4.5rem;
    }
}

/* contact section  */
.heading-wrapper {    
    background: url(../images/bg-contact-us@2x.png);
    background-repeat: no-repeat;
    background-position: right;
    min-height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    text-align: left;
    font-size: 1.2rem;
    color: var(--gray);
    text-transform: uppercase;
}
.form-control:focus {
    color: var(--gray);
    background-color: #fff;
    border-color: var(--gray);
    outline: 0;
    box-shadow: 0 0 0 0 rgb(112 112 112 / 25%);
}
.input-group-text {
    background-color: var(--white);
}
@media only screen and (max-width: 600px) {
    
    .heading-wrapper .heading {
        font-size: 3rem;
    }
}

/* footer section  */
#footer {
    background-color: var(--deep-black);
    font-size: 1.2rem;
}
.footer__header {
    color: var(--white);
}
#footer .form-control-lg {
    padding: 1.8rem 1rem;
}
#footer .form-control {
    background-color: var(--deep-black);
}
#footer .social-icon {
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 3.5rem;
    padding-left: 1.5rem;
}
#footer .social-icon:hover  {
    background-color: var(--deep-black);
}
#footer .border-bottom {
    border-bottom: .5px solid #989898!important;
}
#footer a {
    color: var(--gray);
    font-size: 1.2rem;
}
.footer-menu ul li {
    padding-bottom: 1.9rem; 
}
.copyright-bar {
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    #footer .social-icon {
        padding-right: 4.5rem;
        padding-left: 2.5rem;
    }
}